section {
  padding: 2rem 0;
  border-bottom: 1px solid gray;
}
.heading {
  border-bottom: 1px solid gray;
}
.font-small {
  font-size: 0.8rem;
}
table.tight td {
  padding: 0.25rem 3rem 0.25rem 1rem;
}